<!doctype html>

<html>
<head>
    <title>Progress Tracker</title> 
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <!--<link href="css/bootstrap.min.css" rel="stylesheet">
      <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">
      
      <!-- Materialize Template stuff (Material Design) coding thing-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      
      <!--our css-->  
      <!--<link href="css/progressTracker.css" rel="stylesheet" >-->
      <link href="css/PTmat.css" rel="stylesheet">
      
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
</head>

<body>

	
  <!--Materialize Navbar Code-->
  <div class="navbar-fixed">
  <nav class="teal"> <!--change navbar background color here!-->
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Progress Tracker</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down"> <!-- full web page -->
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
      <ul class="side-nav" id="mobile-demo"> <!-- mobile -->
        <br>
        <br>
        {{#each navLinks}}
          <li><a href="{{link}}">{{linkText}}</a></li>
        {{/each}}
      </ul>
    </div>
  </nav>
  </div>  


<!-- profile-page-header -->
  <div id="profile-page-header" class="card">          
      <div class="card-content">
        <div class="row">                    
          <div class="col s12">     
            <center>                 
                <font size="5">User Name</font>
                <br>
                <font size="2">FirstName LastName</font>
                
                <figure class="card-profile-image">
                  <img src="./images/profilepic.png" width="100" height="100"  class="circle responsive-img activator">
                </figure>

                <i class="material-icons">assignment</i>120 Tasks Completed

                <!--
                <div>
                  
                  
                  
                  <br>
                  <br>
                  <input onclick="addfriend()" class="btn waves-effect waves-light" type="button" value="Add friend" id="addFriendButton">
                  
                </div>
                -->
            </center>                        
          </div>               
        </div>
      </div>
  </div>


  <!-- Tracker history cards -->
  <div>
    <ul class="collection">
    {{#each featuredTasks}}
      <li class="collection-item avatar">
        <i class="material-icons circle">assignment_turned_in</i>
          <span class="title">{{title}}</span>
          <br>
          <p>{{description}}</p>
          {{#each tags}}
            <div class="chip">{{tag}}</div>
          {{/each}}
          
          <a class='dropdown-button' href='/' data-activates='dropdown1'><i class="material-icons right">more_vert</i></a>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/">View details</a></li>
            <li class="divider"></li>
            <li><a href="/">Redo task</a></li>
            <li class="divider"></li>
            <li><a href="/">Share</a></li>
          </ul>
          

      </li>
    {{/each}}
    </ul>
  </div>



  <center>
  <div class="chip">Show more</div>
  </center>
           



  <!-- Javascripts -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!--<script src="js/bootstrap.min.js"></script>
  <!-- Materialize js-->
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- own js-->
  <script src="js/progressTracker.js"></script>
  
  </body>

</html>